---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

## 🧪 Toronto Science Fair 2023 - Silver Medalist

In recognition of Discovery project titled "Testing the Aerodynamics of Small Vehicles" at the Toronto Science Fair held at the University of Toronto, my partner and I won silver. Utilizing CAD, 3D printing, computational fluid dynamics analysis, and graphical softwares, models were built, tested, and analyzed. 

Small scale models of low-poly cars at varying dimensions were designed using CAD and 3D printed in order to analyse and test their aerodynamics and efficiency. LoggerPro was used to graphically analyze and plot the cars' speeds when recorded travelling identical paths. SimScale was used to complete a CFD analysis of each car under identical conditions to retrieve their drag coefficients, and visualize wind flow in a simulated wind tunnel.

## 💻 Learning Portfolio

I've set up an in-depth learning portfolio on Notion documenting my completed projects during my first year.

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

